* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  margin: 0;
  font-size: 25px;
}

h5 {
  font-size: 10.24px;
}


header {
  height: 55px;
  background-color: #F55A5A;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

header img {
  width: 20px;
}

.card {
  display: flex;
  gap: 20px
}

.card p{
  font-size: 10.24px;
  margin: 0;
  width: 326px;
}

span {
  margin-left: 3px;
}

.card--info_container {
  
}